.banner {
    background-color: lightblue; 
    top: 0px;  
    padding: 15px; 
}

h1 {
    color: white;
    font-family: 'ITC Bauhaus';
    margin-top: 0px;
    font-weight: bold;
}

#balanceBox {
    height: 120px;
    width: 157px;
    margin: 10px auto;
}

footer {
    background-color: black;
    bottom: 0px;
    height: 50px;
}

html, body {
    height: 100%;
    margin: 0;
  }